@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

$red: #b31237;
$orange: #ff8826;
$yellow: #ffb914;
$blue: #2c9fa3;
$grey: #242424;

$Play: 'Play', sans-serif;

