@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

$red: #eb2929;
$orange: #fd8300;
$yellow: #ffb914;
$blue: #2c9fa3;
$grey: #141414;
$lightgrey: #252525;
$purple: #8848ff;

$Play: 'Play', sans-serif;


