@import "master";

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: $grey;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
 
  h1 {
    color: white;
    font-family: $Play;
    font-size: 4em;
  }
}
